
<!DOCTYPE html>
<html>
    {% extends 'learning_logs/base.html' %}
<body>
    {% block header %}
    <h1 align='center'>Dars Jadvali</h1>
    {% endblock header %}

	{% block content %}
	<table border="5" cellspacing="0" align="center" class="alert alert-info" role="alert" >
		<!--<caption>Timetable</caption>-->
		<tr>
			<td align="center" height="50"
				width="100"><br>
				<b>Kun/Davomiyligi</b></br>
			</td>
			<td align="center" height="50"
				width="100">
				<b>I<br>8:30-9:50</b>
			</td>
			<td align="center" height="50"
				width="100">
				<b>II<br>10:00-11:20</b>
			</td>
			<td align="center" height="50"
				width="100">
				<b>III<br>11:30-12:50</b>
			</td>
			<td align="center" height="50"
				width="100">
				<b>13:00-13:30</b>
			</td>
			<td align="center" height="50"
				width="100">
				<b>IV<br>13:30-14:50</b>
			</td>
			<td align="center" height="50"
				width="100">
				<b>V<br>15:00-16:20</b>
			</td>
			<td align="center" height="50"
				width="100">
				<b>VI<br>16:30-17:50</b>
			</td>
			<td align="center" height="50"
				width="100">
				<b>VII<br>18:00-18:30</b>
			</td>
		</tr>
		<tr>
			<td align="center" height="50">
				<b>Dushanba</b></td>
			<td align="center" height="50">Ingliz tili</td>
			<td align="center" height="50">Matematika</td>
			<td align="center" height="50">Fizika</td>
			<td rowspan="6" align="center" height="50">
				<h2>T<br>U<br>S<br>H<br>L<br>I<br>K</h2>
			</td>
			<td colspan="3" align="center"
				height="50">Amaliy mashg'ulot</td>
			<td align="center" height="50">Astronomiya</td>
		</tr>
		<tr>
			<td align="center" height="50">
				<b>Seshanba</b>
			</td>
			<td colspan="3" align="center"
				height="50">Amaliy mashg'ulot
			</td>
			<td align="center" height="50">Ingliz tili</td>
			<td align="center" height="50">Fizika</td>
			<td align="center" height="50">Matematika</td>
			<td align="center" height="50">Jismoniy tarbiya</td>
		</tr>
		<tr>
			<td align="center" height="50">
				<b>Chorshanba</b>
			</td>
			<td align="center" height="50">Matematika</td>
			<td align="center" height="50">Astronomiya</td>
			<td align="center" height="50">Ingliz tili</td>
			<td align="center" height="50">Fizika</td>
			<td colspan="3" align="center"
				height="50">Kutubxona
			</td>
		</tr>
		<tr>
			<td align="center" height="50">
				<b>Payshanba</b>
			</td>
			<td align="center" height="50">Astronomiya</td>
			<td align="center" height="50">Ingliz tili</td>
			<td align="center" height="50">Fizika</td>
			<td colspan="3" align="center"
				height="50">Amaliy mashg'ulot
			</td>
			<td align="center" height="50">Matematika</td>
		</tr>
		<tr>
			<td align="center" height="50">
				<b>Juma</b>
			</td>
			<td colspan="3" align="center"
				height="50">Amaliy mashg'ulot
			</td>
			<td align="center" height="50">Matematika</td>
			<td align="center" height="50">Fizika</td>
			<td align="center" height="50">Ingliz tili</td>
			<td align="center" height="50">Astronomiya</td>
		</tr>
	</table>
    {% endblock content %}
</body>

</html>
